@import url(https://fonts.googleapis.com/css?family=Lobster&display=swap);
.global-header {
  background: hsl(225, 9%, 9%);
  height: 75px;
  display: flex;
  flex-direction: row;
}
.global-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:2vw;
  width: 13vw;
  height: 100%;
}

#hamburger,
.bm-burger-button {
  display: none;
}
.global-header-left {
  color: whitesmoke;
  justify-content: flex-end;
  font-size: 50px;
  line-height: 100%;
}

.global-header-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
  line-height: 100px;
  width: 13vw;
}
.global-header-right a {
  padding-bottom: 10px;
  width: auto;
  margin: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.global-header-right a:hover {
  color: #0f9b6c;
}
.logo {
  text-align: center;
  color: white;
  font-family: lobster;
  font-size: 50px;
  text-align: center;
  margin:0;
  width:100%;
  margin-top:15px;
  font: 60px;
  display: flex;
}
#searchjoin {
  height: 40px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.Osearch {
  width: 100%;
  height: 100%;
  padding: 0px;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  border: 1.5px solid #141518;
  border-right: none;
  font-family: sans-serif;
  font-size: 30px;
  outline: none;
  padding: 10px;
}

.Obutton {
  background-color: white;
  color: #141518;
  height: 100%;
  width: 50px;
  border-left: none;
  border: 1.5px solid #141518;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.Obutton:hover {
  background:lightgray;
}
.fa.fa-search::before {
  margin: 15px;
  height: 40px;
  line-height: 175%;
}

.dropbtn {
  background-color: #141518;
  border: 1px solid #141518;
  color: white;
  width: 100%;
  height: 99.9%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 20px;
  width: 138px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.dropdown-content a {
  color: #141518;
  padding: 12px 16px;
  display: block;
}
.dropdown:hover .dropdown-content {
  color: #141518;
  display: block;
}

.dropdown:hover .dropdown-content a:hover {
  color: white;
  background-color: #0f9b6c;
  display: block;
  text-decoration: none;
}

@media only screen and (max-width: 1340px) {
  #searchjoin {
    width: 50vw;
    margin:auto;
  }
  .global-header-left {
    width: 20vw;
  }
  .Obutton {
    width: 12.5%;
  }
  .global-header-right {
    width: 10vw;
  }
}

@media only screen and (max-width: 850px) {
  #hamburger,
  .bm-burger-button {
    display: block;
  }
  .bm-menu-wrap {
    width: 105vw !important;
    margin-left: 50vw !important;
    background: #343a40;
  }
  .bm-cross-button button {
    background-image: url(./close.svg) !important;
  }
  .bm-burger-button button {
    z-index: 2000 !important;
  }
  .bm-burger-button {
    margin-left: 30vw !important;
    margin-right: 5vw;
    margin-top: 15px;
    position: fixed;
    background: transparent;
  }
  .bm-burger-button,
  .bm-burger-button button,
  .bm-burger-button div {
    position: relative;
    height: 40px !important;
    width: 50px !important;
  }
  .bm-burger-bars {
    position: absolute;
    height: 7px !important;
    border-radius: 2px;
    margin: 4px;
    background: lightgray;
  }
  .bm-menu {
    background: #343a40;
    margin-top: 75px;
  }
  .bm-item {
    font-size: 30px;
    width: 30vw;
    margin: auto;
    text-decoration: none;
    color: #0f9b6c;
  }
  .logo {
    width: 50vw;
    margin: 0;
    font-size: 60px;
    height: 75px;
    line-height: 120%;
  }
  .large-search {
    display: none;
  }
  .global-header {
    height: 75px;
    display: block;
    flex-direction: initial;
  }
  .global-header-left {
    width: 100vw;
    height: 25px;
  }
  .global-header-right {
    display: none;
  }
  .global-header-right a {
    width: 40%;
    border-radius: 5px;
    height: 25px;
    margin: auto;
    text-align: center;
    line-height: 150%;
    padding: 0;
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }
}
