.global-header {
    background: black;
}

.global-header-left {
    display: flex;
    justify-content: flex-start;
}

.global-header-left h1 {
    color: whitesmoke;
    margin: 15px 20px 0px 50px;
    justify-content: flex-right;
    font-size: 50px;
}

.global-header-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.NameDesign {
    text-align: center;
    color: #FFF;
    font-family: lobster;
    margin-top: 10%;
    font: 60px;
    display: flex;
}

.NameDesign2 {
    margin-left: 20px;
    margin-bottom: -20px;
    text-align: center;
    color: #FFF;
    font-family: lobster;
    margin-top: 10%;
    font-size: 21px;
}

/* mouse over link */



/* <meta name="viewport" content="width=device-width, initial-scale=1">

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
} */


