.global-header {
    background: black;
}

.global-header-left {
    display: flex;
    justify-content: flex-start;
}

.global-header-left h1 {
    color: whitesmoke;
    margin: 15px 20px 0px 50px;
    justify-content: flex-right;
    font-size: 50px;
}

.global-header-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    text-decoration: none;
}

/* mouse over link */
