.page-title {
    margin: 2% 8% 2% 8%;
    color: black;
}

*{
    outline: none;
    max-width:100vw;
}

a{
    cursor: pointer;
}
.App {
    overflow:none;
}

.notlogin-style {
    color: red;
    font-size: 20px;
    margin: 15px;
    background: rgb(85, 174, 196);
    padding: 2px;
}

.login-style {
    color: black;
    font-size: 20px;
    margin: 15px;
    padding: 2px;
}

.form-input-style {
    padding: 12px 20px;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}