
a{
    cursor: pointer;
}

/* html{ */
    /* background:#1b1b1b; */
/* } */
/* .notlogin-style {
    color: red;
    font-size: 20px;
    margin: 15px;
    background: rgb(85, 174, 196);
    padding: 2px;
}

.login-style {
    color: black;
    font-size: 20px;
    margin: 15px;
    padding: 2px;
} */