#productCard {
    border:1px solid black;
    margin:10px auto;
    background:white;
    box-shadow: 10px 10px 8px #888888;
    min-height:300px;
    width:90vw;
    height:20vh;
    display:flex;
    flex-direction: row;

}

.ATCbtn{
    color:black;
    cursor:pointer;
    width:25%;
    float:right;
    margin-top:200px;
    height:50px;
    text-align: center;
    line-height:50px;
    border-radius:2px;
    border: 1px solid black;
}

.cardImg {
    height:100%;
    width:auto;
}

#card-image-container {
    width:30%
}

#card-product-info {
    width:50%;
}


.cproduct{
    text-align:center;
}

.cdesc {
    text-align: center;
    width:100%;
    margin:auto;
    height:100px;
}
.cprice {
    text-align:center;
    width:100%;
    margin:auto;
    height:100px;
}
.cbrand, #cprice{
    text-align:center;
}