#productCard {
    border:1px solid black;
    width:90%;
    margin:10px auto;
    background:white;
    box-shadow: 10px 10px 8px #888888;
}

#ATCbtn{
    background:lightgray;
    padding:10px;
    cursor:pointer;
    box-sizing:border-box;
}