.gliderdiv {
    margin: 0;
    padding: 0;
    display: flex;
    position: static;
}

#container {
    height: 320px;
    width: 101%;
    background-color: #646464;
    overflow: hidden;
    position: static;
    overflow-x: scroll;
}

#thumbs {
    /* background-color: black; */
    position: absolute;
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 100px;
    align-items: center;
}

.glide-box {
    height: 200px;
    width: 200px;
    background-color: #2E94B4;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #FFF;
}