.gliderdiv {
    margin: 20px 10px 20px 10px;
    /* padding: 0; */
    /* display: block; */
    /* position: static; */
}

#picturesglider {
    height: 320px;
    width: 95%;
    /* background-color: #646464; */
    overflow: hidden;
    position: relative;
    overflow-x: scroll;
    align-items: center;
    margin: 20px 10px 20px 10px;
}

#picturesglider::-webkit-scrollbar {
    display: none;
}

#thumbs {
    /* background-color: black; */
    position: absolute;
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 100px;
    align-items: center;
    margin-right: -35px;
}

.glide-box {
    height: 200px;
    width: 200px;
    background-color: #2E94B4;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #FFF;
}

@media only screen and (max-width: 500px) {
    .glide-box {
        height: 100px;
        width: 100px;
        background-color: #2E94B4;
        margin: 10px;
        display: inline-block;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        color: #FFF;
    }
    #picturesglider {
        height: 320px;
        width: auto;
        /* background-color: #646464; */
        overflow: hidden;
        position: relative;
        overflow-x: scroll;
        align-items: center;
        margin: 5%
    }
    .gliderdiv {
        margin: 10px;
        padding: 0;
        /* display: block; */
        /* position: static; */
    }
}