@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-track,
.slick-slider {
  display: flex;
  flex-direction: row;
  width: 90vw;
  /* padding:40px; */
  margin: auto;
    box-shadow: 2px 2px 8px black;
}

img.slideImg {
  width: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  /* box-shadow: 2px 2px 8px black; */
}

.img-background {
  width: 100%;
  max-height: 50%;
  background: white;
}

#card-header {
  /* text-shadow: 2px 2px 8px black; */
  text-decoration: none;
  font-size: 120%;
}
.slick-slide,
.slick-slide div,
.menu-item {
  height: 400px;
  user-select: none;
  cursor: grab;
  box-sizing: border-box;
  /* color:white; */
}

.card-info {
  font-size:0.7vw;
  background: black;
  color: white;
  border:1px solid lightgray;
}

.slick-slide div:active {
  cursor: grabbing;
}

.menu-item {
  text-align: center;
  padding: 20px;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.slick-arrow.slick-next,
.slick-arrow.slick-prev,
.slick-arrow :active,
.slick-arrow :hover,
button.slick-arrow.slick-next::before,
button.slick-arrow.slick-prev::before {
  /* display:none !important; */
  z-index: 200;
  /* margin: 100px; */
  background: black !important;
  border-radius: 50%;
  cursor: pointer;
  width: 20px !important;
  /* margin:auto; */
  /* display:none !important; */
}

#viewItem {
  height: 30px;
  margin: auto;
  margin-top: 0;
  border-radius: 2px;
  border: solid lightgray;
  /* box-shadow: 2px 2px 8px black; */
}

.slider-label {
  height: 50px;
  width: auto;
  margin: auto;
  text-align: center;
}
