@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slick-track, .slick-slider {
  display:flex;
  flex-direction: row;
  width:90vw;
  margin:auto;
}

.slick-slide, .slick-slide div, .menu-item {
  height:225px;
  width:225px;
  user-select: none;
  cursor: pointer;
  background:#295a31;
  box-sizing: border-box;
  color:white;
}
.menu-item {
  text-align: center;
  border: 10px solid white;
}
.slick-arrow, .slick-arrow :active, .slick-arrow :hover {
  /* display:none !important; */
  background:black !important;
  cursor: pointer;
}