@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slick-track, .slick-slider {
  display:flex;
  flex-direction: row;
  width:80vw;
  margin:auto;
}

.menu-item, .slick-slide div {
  /* padding: 0 40px; */
  height:250px;
  width:250px;
  user-select: none;
  cursor: pointer;
  border: solid white;
  background:#295a31;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.slick-arrow {
  display:none !important;
  padding: 20px;
  background:black;
  cursor: pointer;
}