.global-footer {
    color: white;
    background: black;
    display: flex;
    /* align-items: center; */
    padding: 30px;
    /* flex-direction: column; */
    bottom: 0px;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

a {
    cursor: pointer;
}