.content-wrapper {
    background: rgb(229, 229, 238);
    padding: 30px 70px 30px 70px;
    margin: 2% 8% 2% 8%;
    opacity: 100%;
}
#cartList{
    width:70%;
    max-width:100%;
    grid-template-columns: 3 3 3;
    margin:Auto;
    /* background:#e5e5ee; */
    display:grid;
}
