@import url(https://fonts.googleapis.com/css?family=Lato);
.homelayout {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: rgb(172, 163, 163);
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    /* opacity: 0.85; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("techbackground.jpg");
    /* min-height: 100%;  */
    /* min-height: 90%; */
    /* try 400px or 90% */
}