@import url(https://fonts.googleapis.com/css?family=Lato);
.homelayout {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.bgimg-1 {
  height: 10vh;
  background: linear-gradient(-45deg, white, gray, #0f9b6c, gray);
}

.store-discount {
  margin: 3% 10% 3% 10%;
  background: lightgrey;
}

#homeh1 {
  margin-left: 100px;
  color: white;
  height: 100%;
}