@import url(https://fonts.googleapis.com/css?family=Lato);
.homelayout {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.bgimg-1 {
    position: relative;
    /* opacity: 0.85; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("techgreenbackground.jpg");
}

.store-discount {
    margin: 3% 10% 3% 10%;
    background: lightgrey;
}

#homeh1, #homeh2 {
    margin-left: 100px;
    color: rgb(245, 240, 252);
}

#homeh2 {
    color: #b0aeb1;
}

.Osearch-container {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.Osearch {
    width: 40%;
    height:30px;
    padding: 15px;
    border-radius: 40px 2px;
    box-shadow: 2px 3px;
    font-family: sans-serif;
    font-size: 20px;
    outline: none;
}

.Obutton {
    background-color: rgb(14, 15, 14);
    border: none;
    color: white;
    /* padding: 2px; */
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px / 50px;
    outline: none;
    width: 60px;
    height:60px;
}
.fa.fa-search::before {
    margin:20px;
    line-height:100%;
}
.fa.fa-search{
    margin-top:20px;
}
/* <div className="search-container">
<input type="text" className="search" placeholder="Search.." />
<button type="submit"><i class="fa fa-search"></i></button>
</div> */

/* Dropdown for Categories */

/* Style The Dropdown Button */

.dropbtn {
    background-color: white;
    color: rgb(8, 7, 7);
    width: 100%;
    padding: 15px;
    border-radius: 2px 40px 0px 1px;
    box-shadow: 2px 3px 2px 3px;
    font-size: 20px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: black;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    color: black;
    display: block;
    font-family: sans-serif;
    /* border-color: black; */
}

.dropdown:hover .dropdown-content a:hover {
    color: black;
    background-color: rgb(15, 155, 108);
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    /* border-color: black; */
}

/* Change the background color of the dropdown button when the dropdown content is shown */

/* .dropdown:hover .dropbtn {
    background-color: #010501;
} */