@import url(https://fonts.googleapis.com/css?family=Lato);
.homelayout {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.bgimg-1 {
    position: relative;
    /* opacity: 0.85; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("techbackground.jpg");
}

.store-discount {
    margin: 3% 10% 3% 10%;
    background: lightgrey;
}

h1, h2 {
    margin-left:100px;
    color:white;
}

h2 {
    color:#c8cacc;
}