@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slick-slide.slick-active.slick-current, .slick-slide, .slick-slide.slick-active.slick-current {
  width:250px !important;
}
.slick-arrow.slick-prev {
  right:0 !important;
}

.slick-slide.slick-active div {
  outline: none;
}