#viewItem {
  color:white;
  margin: auto;
  border-radius: 2px;
  border: 0.5px;
  background: rgb(211, 226, 211);
  cursor: pointer;
  font-weight: bold;
  padding:3px;
}

#viewItem:hover{
  color:green;
  background-color: transparent;
  text-decoration:none;
  border: 0.5px  black;
}
