.order-list {
    width:100vw;
    height:auto;
    list-style-type: none;
    display:flex;
    flex-direction: column;
}
.order-item {
    border:1px solid #141518;
    width:90vw;
    margin:auto;
    box-shadow: 2px 2px 8px gray;
    font-weight: bold;
    background:#141518;
    color:white;
}
.order-item-info {
    display:flex;
    flex-direction: column;
    border-bottom:1px solid #141518;
    border-top:1px solid #141518;
    background:white;
    color:#141518;
}
.order-item p {
    text-align:center;
    /* margin:0; */
}
.order-info {
    position: relative;
}
.order-item-img {
    max-height:70%;
    margin-left:50px;
    margin-top:15px;
    width:auto;
    position: absolute;
}
#total-order-price {
    color:#0f9b6c;
}