.VcardImg{
    position: static;
    margin: auto;
    top:400px;
    max-height:100%;
    max-width:100%;
    width:auto;
}
#imageWrapper {
    width:30vw;
    margin:auto;
    padding:auto;
}
#Vview-product-info {
    margin-top:75px;
    text-align: center;
}
#VATCcombine {
    width:250px;
    margin:auto;
    display:flex;
    flex-direction: row;
}
.Vquantity-dropdown {
    background: transparent;
    margin:0px;
    border: 1px solid black;
    border-radius: 3px 0px 0px 3px;
    height:52px;
}
.VATCbtn {
    background: transparent;
    width:200px;
    cursor:pointer;
    float:right;
    height:50px;
    text-align: center;
    line-height:50px;
    border-radius:0px 3px 3px 0px;
    border: 1px solid black;
    border-left:none;
    background:#0f9b6c;
    color:white;
    opacity:0.8;
}
.VATCbtn:hover{
    color:black;
    transition:0.35s;
}